//colors

$color-primary: #4c8091;
$color-secondary: #2f439d;

$color-black: #222;
$color-white: #eee;
$color-dark-grey: #777;

$color-light-grey-1: rgb(243, 243, 243);
$color-light-1: #f8fbd7;
$color-light-2: #a9dada;

$color-sky: rgb(115,173,189);

$color-light-orange:#ffb900;
$color-heavy-orange:#ff7b00;
$color-heavy-red:#ff2600;

//font
$default-font-size: 1.6rem;

////////////////
#nav-main {
    .container-border {
        border-bottom: $color-light-grey-1 solid 1px;
    }

}

////////////////header

header.section_header {        
    background-image: 
        linear-gradient(
        to bottom,
        $color-sky, rgb(255, 255, 255));
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    
    .container {
        padding:12rem 0;
        
        h1 {
            text-shadow:  .02rem .2rem .5rem $color-dark-grey;
        }
        
        hr {
            max-width: 15rem;
            border: solid 1px $color-secondary;
            margin: 1.2rem auto;
        }
    
        h4 {
            color: rgb(255, 255, 255);
            font-weight: 400;
            font-size: 1.8rem;
        }
    
    }



    #btn-cal {
        margin: 4rem;
        padding: 1rem 3rem;
        border-radius: 50px;
        transition: all .3s;
        background-color: $color-secondary;
        color: white;
        font-weight: 600;
    }

    #btn-cal:hover {
        filter: brightness(.8);
    }
    
}

////////////////
#section_origin {
    padding: 6rem 0;
    background-color: $color-secondary;
    color: white;
    h3{
        margin: 0 auto 3rem;
        text-align: center;
        border-bottom: 1px solid white;
        padding: 1.5rem;
        display: block;
    }
    .img{
        background-size: cover;
        height: 20rem;
    }
    h4 {
        padding: 0 1rem;
    }
    p {
        font-size: 1.6rem;
    }
}
////////////////

#section_paragraph {
    background-color: $color-black;
    color: white;

    padding: 6rem 0;
    p {
        font-size: 1.6rem;
        padding-right: 2rem;
    }
    .img-wrap {
        height: 300px;
        overflow: hidden;
    }
    img {
        width: 100%;
    }
}


////////////////

#section_info {
    padding: 6rem 0;

    .col-sm-7 {
        text-align: center;
        i {
            font-size: 30px;
        }
        p {
            padding: 0 4rem;
        }
    }
}

////////////////

#section_future {
    padding: 6rem 0;
    img{
        width: 100%;
    }
    i {
        font-size: 30px;
    }
    .feature {
        padding: 0rem 1rem 1rem 1rem;
    }
}

////////////////


#nav-main {
    background-color: transparent;
    transition: all .5s;
    a {
        color:white;
        transition: all .2s;
        &:hover {
            color: $color-secondary;
        }
    }
    .navbar-brand{
        font-size: 1.6rem;
        font-weight: 600;
    }


}


////////////Input
.input-page {
    max-height: 100%;
    
    #section_info {
        background-color: $color-white;
        color: black;

        .form-explaination {
            padding: 0 3rem;
        }
    }

}


#section-form {

    background-color : $color-light-2;
    padding-top: 8rem;
    padding-bottom: 16rem;
    // height: 80vh;


    hr {
        max-width: 100%;
        margin:2rem 1rem;
        border: 3px solid $color-primary;
    }

    i {
        font-size: 30px;
    }
    .feature {
        padding: 0rem 1rem 1rem 1rem;
    }


}

#section_result {
    padding: 6rem 0;
    padding-bottom: 20rem;  //debug
    background-color: #a9dada;
    img{
        width: 100%;
    }
    i {
        font-size: 30px;
    }
    .feature {
        padding: 0rem 1rem 1rem 1rem;
    }
}

.footer {
    padding: 1rem 0;
    background-color: $color-dark-grey;
    
    &__links {
        text-decoration: none;
    }

}


.heading-secondary {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    color:$color-primary;
    letter-spacing: 2px;
    transition: all .2s;
    margin-bottom: 1rem;
    border-bottom: transparent 2px solid;

}


.heading-3 {
    font-size: 3rem;
    font-weight: 600;
    display: inline-block;
    color:$color-primary;
    letter-spacing: 1px;
    padding: 0rem;
    margin:2rem 4rem;
    span{
        font-size: 3.6rem;
        font-weight: 900;
    }

}


#section-compensate {

    background-color : $color-sky;
    padding-top: 8rem;
    padding-bottom: 16rem;
    // height: 80vh;

    
    hr {
        max-width: 100%;
        margin:2rem 1rem;
        border: 3px solid $color-primary;
    }

    i {
        font-size: 30px;
    }
    .feature {
        padding: 0rem 1rem 1rem 1rem;
    }

    .heading-3 {
        color:$color-white;

    }
}