.form {
    display: flex;
    flex-direction: column;
    
    background-color: $color-light-1;
    border-radius: 10px;
    padding: 2rem 3rem;
    
    &__group {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &--label {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
        }

    }

    &__group:not(:last-child) {
        margin-bottom: 1rem;
    }
    
        
    &__input {
        font-size: 1.2rem;
        color: inherit;
        font-family: inherit;
        padding:.5rem 1rem;
        border-radius: 5px;
        background-color: white;
        border: 2px solid $color-light-grey-1;
        display: block;
        width: 100%;
        margin-bottom: .2rem;
        transition: all .2s;
        
        
        &:focus {
            outline: none;
            box-shadow: 0 1rem 1.5rem rgba($color-black,.2);
            border-bottom: 2px solid $color-primary;
        }
        


        &::-webkit-input-placeholder{
            color:$color-dark-grey;
        }

        

    }

    
    &__label {
        font-size: 1.2rem;
        margin-bottom: .5rem;
        display: block;
        transition: all .2s;

    }

    &__select {
        
        border:2px;
        width:100%;
        padding-left:1rem;
        padding-top:1rem;
        padding-bottom:1rem;
        background-color: $color-secondary;
        color: white;
        border: 2px solid $color-primary;
        border-radius: 5px;
        display: block;
        font-size: 1.4rem;

        }
    &__total {
        font-weight: 900;
        font-size: 1.5rem;
        float: right;
        color:  $color-primary;
    }

    &__radio-container {
        display: flex;
        align-items: stretch;
        
        justify-content: space-around;

        flex:1;
    }


    &__radio-input {
        display: none;
    }
    &__radio-group {
        width: 40%;
        display: inline-block;
        margin: 1rem 0;
    }

    &__radio-label {
        font-size: 1.2rem;
        cursor:pointer;
        position:relative;
        padding-left:4rem;
    }

    &__radio-button {
        height:2rem;
        width:2rem;
        border:5px solid $color-primary;
        border-radius: 50%;
        position:absolute;
        display: inline-block;
        left:0;
        top:-.5rem;

        &::after {
            content: "";
            display: block;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            position:absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity:0;
            transition: opacity .1s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;

    }
}


.btn {
    &,
    &:link, 
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 30px;
        transition: all .1s;
        position: relative;
        border:none;
        cursor: pointer;
        margin: 1.5rem 0;
        font-size: 1.4rem;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        &::after {
            transform: scaleX(1.2) scaleY(1.2);
            opacity: 0;
        }
    }
    
    &:active,&:focus {
        outline:none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 30px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        
    }
    &--white {
        background-color: white;
        color: $color-dark-grey;
        &::after {
            background-color: white;
        }
        &:hover {
            color: white;
        }
    }
    &--green {
        background-color: $color-primary;
        color: white;
        &::after {
            background-color: $color-primary;
        }
        &:hover {
            color: white;
        }
    }
    
    &--animated {
        animation: moveInBottom 1s ease ;
        animation-fill-mode: both;
    }
}


.btn-text {
    &:link, 
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    
    }
    
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        color:white;
        background-color: $color-secondary;
        border-color:$color-secondary;

    }
    
    &:active {
        transform: translateY(0px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    }
}
