@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: #f3f7f7;
}

@media only screen and (max-width: 75rem) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.6rem;
}

a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[6];
      grid-template-rows: repeat(6, -webkit-min-content);
      grid-template-rows: repeat(6, min-content);
  -ms-grid-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media only screen and (max-width: 50rem) {
  .container {
    -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}

.sidebar {
  background-color: #645dd7;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: none;
}

@media only screen and (max-width: 50rem) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: full-start/full-end;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 7rem;
  }
  .sidebar span {
    font-size: 4rem;
    color: white;
  }
}

header {
  grid-column: center-start/center-end;
}

.education {
  grid-column: center-start/center-end;
}

.skill_pre, .skills, .skill_post {
  background-color: #58499a;
}

.skill_pre {
  grid-column: full-start/center-start;
}

.skills {
  grid-column: center-start/center-end;
}

.skill_post {
  grid-column: center-end/full-end;
}

.projects {
  grid-column: center-start/center-end;
}

.experience {
  grid-column: center-start/center-end;
}

footer {
  background-color: #58499a;
  grid-column: full-start/full-end;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "PT Sans", sans-serif, "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin-bottom: .4rem;
}

.heading-1 {
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 1rem;
  color: #645dd7;
  letter-spacing: 3px;
}

.heading-2 {
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  border-bottom: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-2:hover {
  -webkit-transform: translateY(-5px) scale(1.05);
          transform: translateY(-5px) scale(1.05);
}

.heading-2--light {
  color: white;
}

.heading-2--dark {
  color: #292929;
}

.heading-3 {
  font-size: 3.5rem;
  color: #645dd7;
  letter-spacing: 2px;
}

.heading-4 {
  font-size: 1.8rem;
  color: white;
  padding: .5rem 4rem;
  margin-bottom: .5rem;
  background-color: #F9C22E;
  display: inline-block;
  position: relative;
  border-radius: 3px 0px 3px 3px;
}

.heading-4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 99%;
  width: 100%;
  height: 101%;
  border-bottom: 36px solid transparent;
  border-left: 28px solid #F9C22E;
}

@media only screen and (max-width: 75rem) {
  .heading-4::after {
    display: none;
  }
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  height: 100%;
  background-color: #645dd7;
}

@media only screen and (max-width: 50rem) {
  .nav {
    display: none;
  }
}

.nav__btn {
  padding: 1.5rem;
  position: relative;
}

.nav__btn span {
  z-index: 10;
  position: relative;
}

.nav__btn::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: .5rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #F9C22E;
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.nav__btn:hover::before {
  content: "";
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.header {
  padding: 12rem 5rem;
}

@supports (display: grid) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr 1fr;
        grid-template-columns: .5fr 1fr;
    grid-gap: 4rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media only screen and (max-width: 62.5rem) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.header__photo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  width: 30rem;
  height: auto;
  border-radius: 50%;
}

.header__info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

.header__major {
  margin-left: 5rem;
}

.header__icon {
  font-size: 2.4rem;
  display: inline-block;
  margin: 0 1rem;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__links :hover {
  color: #ff4242;
  font-weight: 500;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__link:not(:last-child) {
  margin-bottom: 1.5rem;
}

.header__intro {
  font-size: 2rem;
}

.education {
  padding-bottom: 10rem;
}

.education__list {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -ms-grid-columns: (minmax(30vw, 1fr))[2];
      grid-template-columns: repeat(2, minmax(30vw, 1fr));
}

@media only screen and (max-width: 75rem) {
  .education__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.education__details {
  width: 90%;
  padding: 3rem 0rem 6rem 0rem;
  background-color: white;
  border-radius: 1.6rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 0 auto;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.education__details:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

@media only screen and (max-width: 75rem) {
  .education__details:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.education__major {
  text-align: center;
}

.education__school {
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  padding: .5rem 4rem .5rem 6rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.education__time {
  text-align: center;
  color: #727272;
  font-style: italic;
}

.skills {
  padding: 10rem 0rem;
}

.skills__title {
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
}

.skills__list {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 50rem) {
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .skills__list-item:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.skills__list-item {
  position: relative;
}

.skills__skill-list {
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.skills__skill-list :not(:last-child) {
  margin-bottom: 1rem;
}

.skills__list-content {
  font-family: "PT Sans", sans-serif, "Noto Sans TC", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.skills__deco {
  position: absolute;
  z-index: 0;
  color: #f9c22e;
  font-size: 8rem;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-6rem, 3rem);
          transform: translate(-6rem, 3rem);
}

.projects {
  padding: 5rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 0.5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 0.5fr));
  -webkit-column-gap: 8rem;
          column-gap: 8rem;
  row-gap: 8rem;
}

.projects__heading {
  grid-column: 1/-1;
}

.work-wrap {
  position: relative;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 1rem;
  height: calc(100% - 4rem);
  z-index: 20;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.work > :not(:last-child) {
  margin-bottom: 1.5rem;
}

.work__img {
  width: 100%;
  margin-bottom: .5rem;
  border: 0;
  margin: 0;
}

.work__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 8rem;
}

.work__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.work__link {
  background-color: #F9C22E;
  border-radius: .8rem;
  padding: .5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .15s;
  transition: all .15s;
}

.work__link span {
  margin-right: 1rem;
}

.work__link:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
  background-color: #ff4242;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.work__intro {
  font-size: 2rem;
  padding: 0 8rem;
  color: #292929;
}

.work__tool {
  color: white;
  padding: 0 8rem;
  padding-bottom: 4rem;
  font-weight: 600;
}

.work__tool--tag {
  background-color: #f9c22e;
  display: inline-block;
  margin: .5rem;
  margin-left: 1.5rem;
  padding: 0.5rem 2rem;
  position: relative;
  border-radius: 0 4px 4px 0;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.work__tool--tag:hover {
  background-color: #aaa;
  color: #645dd7;
}

.work__tool--tag:hover::before {
  border-color: transparent #aaa transparent transparent;
}

.work__tool--tag:hover::after {
  background-color: #645dd7;
}

.work__tool--tag::before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -14px;
  width: 0;
  height: 0;
  border-color: transparent #F9C22E transparent transparent;
  border-style: solid;
  border-width: 15px 15px 20px 0;
}

@media only screen and (max-width: 75rem) {
  .work__tool--tag::before {
    border-width: 14px 14px 12px 0;
  }
}

.work__tool--tag::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
}

@media only screen and (max-width: 75rem) {
  .work__tool--tag::after {
    top: 12px;
  }
}

.work__tab {
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 1rem .8rem 0 0;
  position: relative;
  color: white !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1rem 3rem 1rem 3.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .1s;
  transition: all .1s;
}

@media screen and (max-width: 62.5rem) {
  .work__tab {
    padding: 1rem 1rem 1rem 1.5rem;
  }
}

@media screen and (max-width: 50rem) {
  .work__tab {
    padding: 1rem 3rem 1rem 3.5rem;
  }
}

@media screen and (max-width: 37.5rem) {
  .work__tab {
    padding: 1rem 1rem 1rem 1.5rem;
  }
}

.work__tab span {
  margin-right: 1rem;
}

.work__tab:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.work__tab::before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  background-color: inherit;
}

.work__tab::after {
  content: "";
  width: 2rem;
  position: absolute;
  left: 97%;
  top: 1%;
  height: 150%;
  background-color: transparent;
  z-index: inherit;
  border-top: 36px solid transparent;
  border-left: 22px solid #645dd7;
}

.work__tab--web {
  background-color: #ff4242;
  z-index: 15;
}

.work__tab--web::after {
  border-color: transparent #ff4242;
}

.work__tab--game {
  background-color: #F9C22E;
  z-index: 15;
}

.work__tab--game::after {
  border-color: transparent #F9C22E;
}

.work__tab--other {
  background-color: #4d94ff;
  z-index: 15;
}

.work__tab--other::after {
  border-color: transparent #4d94ff;
}

.work__tab--code {
  background-color: #58499a;
  z-index: 10;
}

.work__tab--code::after {
  border-color: transparent #58499a;
}

.work__tab--demo {
  background-color: #645dd7;
  z-index: 5;
}

.work__tab--demo::after {
  border-color: transparent #645dd7;
}

.experience {
  padding: 4rem 0rem 6rem;
}

.experience__tlitem {
  padding: 3rem 5rem 2rem;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 5px solid rgba(100, 93, 215, 0.9);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.experience__tlitem:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: rgba(249, 194, 46, 0.8) 5px 5px, rgba(249, 194, 46, 0.6) 10px 10px;
          box-shadow: rgba(249, 194, 46, 0.8) 5px 5px, rgba(249, 194, 46, 0.6) 10px 10px;
}

.experience__tlitem::before {
  content: attr(date-is);
  position: absolute;
  font-weight: bold;
  left: 5rem;
  top: .8rem;
  display: block;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 1.6rem;
}

.experience__tlitem::after {
  width: 2rem;
  height: 2rem;
  display: block;
  top: 1rem;
  position: absolute;
  left: -1.2rem;
  border-radius: 1rem;
  content: '';
  border: 5px solid #645dd7;
  background: white;
}

.experience__tlitem:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(100, 93, 215, 0.9) 20%, rgba(100, 93, 215, 0.9) 60%, rgba(100, 93, 215, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(100, 93, 215, 0.9)), color-stop(60%, rgba(100, 93, 215, 0.9)), to(rgba(100, 93, 215, 0))) 1 100%;
     border-image: linear-gradient(to bottom, rgba(100, 93, 215, 0.9) 20%, rgba(100, 93, 215, 0.9) 60%, rgba(100, 93, 215, 0)) 1 100%;
}

.experience__tltitle {
  font-size: 3rem;
  margin-bottom: .5rem;
  color: #58499a;
  font-weight: 600;
}

.experience__tltext {
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 2rem;
}

footer {
  text-align: center;
  color: #f7f7f7;
  padding: 5rem 0 3rem;
}
/*# sourceMappingURL=style.css.map */