.nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    height: 100%;
    background-color: $color-primary;

    @media only screen and (max-width:$bp-medium) {
        display: none;
    }
    &__btn {    
        padding: 1.5rem;
        position:relative;
        span {
            z-index: 10;
            position:relative;
        }
    }
    &__btn::before{
        content: "";
        position: absolute;
        z-index: 5;
        top:0;
        left: 0;
        height: 100%;
        width: .5rem;
        transform: scaleY(0);
        background-color: $color-secondary;
        transition: transform .2s,
                    width .3s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;

    }

    &__btn:hover::before{
        content: "";
        transform: scaleY(1);
        width: 100%;
    }
}



.header {

    padding:12rem 5rem;

    @supports(display: grid){
        display: grid;
        grid-template-columns: .5fr 1fr;
        // grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
        grid-gap: 4rem;
        align-items: start;    
    }

    @media only screen and (max-width:$bp-large) {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        flex:1;
    }

    &__photo {
        grid-column: 1 / 2;
        width:30rem;
        height: auto;
        border-radius: 50%;
    }

    &__info {
        grid-column: 2 / 3;

        display: grid;
        row-gap: 2rem;

    }

    &__major {
        margin-left: 5rem;
    }

    &__icon {
        font-size: 2.4rem;
        display: inline-block;
        margin: 0 1rem;

    }
    &__links {
        display: flex;
        flex-direction: column;
        :hover {
            color: $color-highlight;
            font-weight: 500;
        }

    }
    &__link {
        display: flex;
        align-items: center;
        flex:1;

        &:not(:last-child){
            margin-bottom: 1.5rem;
        }

    }

    &__intro{
        font-size: 2rem;
    }
}


.education {
    padding-bottom: 10rem;
    &__list{
        display: grid;
        column-gap: 4rem;
        grid-template-columns: repeat(2, minmax(30vw, 1fr));
        @media only screen and (max-width:$bp-largest) {
            display: flex;
            flex-direction: column;
            flex:1;
        }
    }
    &__details {
        width: 90%;
        padding: 3rem 0rem 6rem 0rem;
        background-color: white;
        border-radius: 1.6rem;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        margin:0 auto;

        transition: all .2s;
        &:hover{
            transform: translateY(-8px);
        }

        @media only screen and (max-width:$bp-largest) {
            &:not(:last-child){
                margin-bottom: 4rem;
            }
        }

    }
    &__major {
        text-align: center;

    }
    &__school {
        transform: translateX(-25px) ;
        padding: .5rem 4rem .5rem 6rem ;
        margin-bottom: 1rem;
        display: inline-block;
    }
    &__time {
        text-align: center;
        color: $color-grey-dark-2;
        font-style: italic;
    }
}

.skills {
    padding:10rem 0rem;

    &__title{  
        transform: translateX(-3rem);

    }

    &__list{
        // display: flex;
        // justify-content: space-evenly;
        margin-top: 4rem;
        
        display: grid;
        column-gap: 4rem;
        grid-template-columns: repeat(3,1fr);
        @media only screen and (max-width:$bp-medium) {
            display: flex;
            flex-direction: column;
            flex:1;
            &-item:not(:last-child){
                margin-bottom: 4rem;
            }
        }
        &-item{
            position:relative;
            // &:not(:last-child){
            //     margin-right: 4rem;
            // }
        }
    }

    &__skill-list{
        color: white;
        font-size: 2rem;
        padding:1rem 2rem;
        :not(:last-child){
            margin-bottom: 1rem;
        }
    }

    &__list-content{
        font-family: $font-display,$font-primary;
        display: flex;
        justify-items: center;

    }

    &__deco{
        position:absolute;

        z-index: 0;
        color: rgba($color-secondary, 1);
        font-size: 8rem;
        bottom: 0;
        right:0;
        transform: translate(-6rem,3rem);
    }



}

.projects{
    padding:5rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(40rem,1fr));
    // grid-template-rows: repeat(auto-fit,  minmax(min-content, 1fr));
    column-gap:8rem;
    row-gap: 8rem;

    &__heading{
        grid-column: 1/-1;
    }
}
.work-wrap{position:relative;}

.work {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 1rem;
    height: calc(100% - 4rem);
    // height: 100%;
    z-index: 20;

    overflow: hidden;
    
    position: relative;

    >:not(:last-child){
        margin-bottom: 1.5rem;
    }
    
    &__img{
        width: 100%;
        height: 400px;
        margin-bottom: .5rem;
        border: 0;
        margin:0;

    }

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 8rem;
    }

    &__links{
        display: flex;
        justify-content: space-around;
        color: white;

    }

    &__link{
        background-color: $color-secondary;
        border-radius: .8rem;
        padding:.5rem 2rem ;

        display: flex;
        align-items: center;

        transition: all .15s;
        span {
            margin-right: 1rem;
        }
        &:hover{
            filter: brightness(.95);
            background-color: $color-highlight;
            transform: translateY(-5px);
        }
    }

    

    &__intro{
        font-size: 2rem;
        padding: 0 8rem;
        color: $color-grey-dark-1;
    }
    &__tool{
        color: white;
        padding: 0 8rem;
        padding-bottom: 6rem;
        font-weight: 600;
    
        &--tag{
            background-color: rgba($color-secondary, 1);
            display: inline-block;
            margin: .5rem ;
            margin-left: 1.5rem;
            padding: 0.5rem 2rem;
            position:relative;
            border-radius: 0 4px 4px 0;
            transition: all .1s;

            &:hover {
                background-color: $color-grey-light-2;
                color:$color-primary;
                &::before{
                    border-color:transparent $color-grey-light-2 transparent transparent;

                }
                &::after{
                    background-color: $color-primary;
                }
            }

            &::before{
                content:"";
                float:left;
                position:absolute;
                top:0;
                left:-14px;
                width:0;
                height:0;
                border-color:transparent $color-secondary transparent transparent;
                border-style:solid;
                border-width:15px 15px 20px 0;	

                @media only screen and (max-width:$bp-largest) {
                    border-width:14px 14px 12px 0;	
                    
                }

            }	
            &::after{
                content:"";
                position:absolute;
                top:14px;
                left:0;
                float:left;
                width:4px;
                height:4px;
                border-radius:2px;
                background:#fff;
                @media only screen and (max-width:$bp-largest) {
                    top:12px;
                }
        
            }
        }
    }
}
.work__tab{
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 1rem .8rem 0 0;
    position:relative;
    color: white !important;
    display: inline-flex;
    padding: 1rem 3rem 1rem 3.5rem;
    box-sizing: border-box;

    transition: all .1s;

    @media screen and (max-width:$bp-large) {
        padding: 1rem 1rem 1rem 1.5rem;
    }
    @media screen and (max-width:$bp-medium) {
        padding: 1rem 3rem 1rem 3.5rem;
    }
    @media screen and (max-width:$bp-small) {
        padding: 1rem 1rem 1rem 1.5rem;
    }
    span {
        margin-right: 1rem;
    }

    &:hover{
        transform: translateY(-5px);
    }

    &::before{
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0;
        bottom:0;
        transform: translate(0,50%);
        background-color: inherit;
    }
    &::after{
        content: "";
        width: 2rem;
        position: absolute;
        left: 97%;
        top:1%;
        height: 150%;
        background-color: transparent;
        z-index: inherit;
        border-top: 36px solid transparent;
        border-left: 22px solid $color-primary;
    }
    
    // transform: translate(0,-100%) translate(0, 1rem);
    &--web{
        background-color: $color-highlight;
        z-index: 15;
        &::after {
            border-color: transparent $color-highlight;
        }
    }
    &--game{
        background-color: $color-secondary; 
        z-index: 15;
        &::after {
            border-color: transparent $color-secondary;
        }
    }
    &--other{
        background-color: $color-blue; 
        z-index: 15;
        &::after {
            border-color: transparent $color-blue;
        }
    }
    &--code{
        background-color: $color-purple; 
        z-index: 10;
        &::after {
            border-color: transparent $color-purple;
        }
    }
    &--demo{
        background-color: $color-primary;
        z-index: 5;
        &::after {
            border-color: transparent $color-primary;
        }
    }

}


.experience {
    padding: 4rem 0rem 6rem;




    &__tlitem {
        padding: 3rem 5rem 2rem;
        position: relative;
        color: rgba(black, .7);
        border-left: 5px solid rgba($color-primary, 0.9);
        transition: all .2s;
        &:hover{
            transform: translateY(-8px);
            box-shadow: rgba($color-secondary, 0.8) 5px 5px, rgba($color-secondary, 0.6) 10px 10px;
        }
	
        &::before {
            content: attr(date-is);
            position: absolute;
            font-weight: bold;
            left: 5rem;
            top: .8rem;
            display: block;
            font-family: $font-time;
            font-weight: 700;
            font-size: 1.6rem;
        }

        &::after {
            width: 2rem;
            height: 2rem;
            display: block;
            top: 1rem;
            position: absolute;
            left: -1.2rem;
            border-radius: 1rem;
            content: '';
            border: 5px solid rgba($color-primary, 1);
            background: white;
        }

        &:last-child {
            border-image: linear-gradient(
                to bottom,
                rgba($color-primary, 0.9) 20%,
                rgba($color-primary, 0.9) 60%,
                rgba($color-primary, 0)) 1 100%
            ;
        }
    }

    &__tltitle {
        font-size: 3rem;
        margin-bottom: .5rem;
        color: rgba($color-purple, 1);
        font-weight: 600;
    }

    &__tltext {
        font-family: $font-time, $font-display;
        font-size: 2rem;
    }
}


footer {
    text-align:center;
    color:$color-grey-light-1;
    padding: 5rem 0 3rem ;
}