.sidebar {
    background-color: $color-primary;
}

.skill_pre,.skills,.skill_post {
    background-color: $color-purple;
}


.experience{
    // background-color: $color-primary;
}

footer {
    background-color: $color-basic;
}