@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.6rem;
}

a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 1rem 0rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

#nav-main .container-border {
  border-bottom: #f3f3f3 solid 1px;
}

header.section_header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#73adbd), to(white));
  background-image: linear-gradient(to bottom, #73adbd, white);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

header.section_header .container {
  padding: 12rem 0;
}

header.section_header .container h1 {
  text-shadow: 0.02rem 0.2rem 0.5rem #777;
}

header.section_header .container hr {
  max-width: 15rem;
  border: solid 1px #2f439d;
  margin: 1.2rem auto;
}

header.section_header .container h4 {
  color: white;
  font-weight: 400;
  font-size: 1.8rem;
}

header.section_header #btn-cal {
  margin: 4rem;
  padding: 1rem 3rem;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #2f439d;
  color: white;
  font-weight: 600;
}

header.section_header #btn-cal:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#section_origin {
  padding: 6rem 0;
  background-color: #2f439d;
  color: white;
}

#section_origin h3 {
  margin: 0 auto 3rem;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 1.5rem;
  display: block;
}

#section_origin .img {
  background-size: cover;
  height: 20rem;
}

#section_origin h4 {
  padding: 0 1rem;
}

#section_origin p {
  font-size: 1.6rem;
}

#section_paragraph {
  background-color: #222;
  color: white;
  padding: 6rem 0;
}

#section_paragraph p {
  font-size: 1.6rem;
  padding-right: 2rem;
}

#section_paragraph .img-wrap {
  height: 300px;
  overflow: hidden;
}

#section_paragraph img {
  width: 100%;
}

#section_info {
  padding: 6rem 0;
}

#section_info .col-sm-7 {
  text-align: center;
}

#section_info .col-sm-7 i {
  font-size: 30px;
}

#section_info .col-sm-7 p {
  padding: 0 4rem;
}

#section_future {
  padding: 6rem 0;
}

#section_future img {
  width: 100%;
}

#section_future i {
  font-size: 30px;
}

#section_future .feature {
  padding: 0rem 1rem 1rem 1rem;
}

#nav-main {
  background-color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#nav-main a {
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#nav-main a:hover {
  color: #2f439d;
}

#nav-main .navbar-brand {
  font-size: 1.6rem;
  font-weight: 600;
}

.input-page {
  max-height: 100%;
}

.input-page #section_info {
  background-color: #eee;
  color: black;
}

.input-page #section_info .form-explaination {
  padding: 0 3rem;
}

#section-form {
  background-color: #a9dada;
  padding-top: 8rem;
  padding-bottom: 16rem;
}

#section-form hr {
  max-width: 100%;
  margin: 2rem 1rem;
  border: 3px solid #4c8091;
}

#section-form i {
  font-size: 30px;
}

#section-form .feature {
  padding: 0rem 1rem 1rem 1rem;
}

#section_result {
  padding: 6rem 0;
  padding-bottom: 20rem;
  background-color: #a9dada;
}

#section_result img {
  width: 100%;
}

#section_result i {
  font-size: 30px;
}

#section_result .feature {
  padding: 0rem 1rem 1rem 1rem;
}

.footer {
  padding: 1rem 0;
  background-color: #777;
}

.footer__links {
  text-decoration: none;
}

.heading-secondary {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  color: #4c8091;
  letter-spacing: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-bottom: 1rem;
  border-bottom: transparent 2px solid;
}

.heading-3 {
  font-size: 3rem;
  font-weight: 600;
  display: inline-block;
  color: #4c8091;
  letter-spacing: 1px;
  padding: 0rem;
  margin: 2rem 4rem;
}

.heading-3 span {
  font-size: 3.6rem;
  font-weight: 900;
}

#section-compensate {
  background-color: #73adbd;
  padding-top: 8rem;
  padding-bottom: 16rem;
}

#section-compensate hr {
  max-width: 100%;
  margin: 2rem 1rem;
  border: 3px solid #4c8091;
}

#section-compensate i {
  font-size: 30px;
}

#section-compensate .feature {
  padding: 0rem 1rem 1rem 1rem;
}

#section-compensate .heading-3 {
  color: #eee;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8fbd7;
  border-radius: 10px;
  padding: 2rem 3rem;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__group--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input {
  font-size: 1.2rem;
  color: inherit;
  font-family: inherit;
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #f3f3f3;
  display: block;
  width: 100%;
  margin-bottom: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 1.5rem rgba(34, 34, 34, 0.2);
          box-shadow: 0 1rem 1.5rem rgba(34, 34, 34, 0.2);
  border-bottom: 2px solid #4c8091;
}

.form__input::-webkit-input-placeholder {
  color: #777;
}

.form__label {
  font-size: 1.2rem;
  margin-bottom: .5rem;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__select {
  border: 2px;
  width: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2f439d;
  color: white;
  border: 2px solid #4c8091;
  border-radius: 5px;
  display: block;
  font-size: 1.4rem;
}

.form__total {
  font-weight: 900;
  font-size: 1.5rem;
  float: right;
  color: #4c8091;
}

.form__radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__radio-input {
  display: none;
}

.form__radio-group {
  width: 40%;
  display: inline-block;
  margin: 1rem 0;
}

.form__radio-label {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 5px solid #4c8091;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  left: 0;
  top: -.5rem;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #4c8091;
  opacity: 0;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 30px;
  -webkit-transition: all .1s;
  transition: all .1s;
  position: relative;
  border: none;
  cursor: pointer;
  margin: 1.5rem 0;
  font-size: 1.4rem;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.2) scaleY(1.2);
          transform: scaleX(1.2) scaleY(1.2);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--white {
  background-color: white;
  color: #777;
}

.btn--white::after {
  background-color: white;
}

.btn--white:hover {
  color: white;
}

.btn--green {
  background-color: #4c8091;
  color: white;
}

.btn--green::after {
  background-color: #4c8091;
}

.btn--green:hover {
  color: white;
}

.btn--animated {
  -webkit-animation: moveInBottom 1s ease;
          animation: moveInBottom 1s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #4c8091;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #4c8091;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-text:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  color: white;
  background-color: #2f439d;
  border-color: #2f439d;
}

.btn-text:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.select-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: block;
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 1.4rem;
  color: #60666d;
  border: 2px solid #2f439d;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .select-box {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .select-box {
    width: 30%;
  }
}

.select-box__current {
  position: relative;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.select-box__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-box__input {
  display: none;
}

.select-box__input:checked + .select-box__input-text {
  display: block;
}

.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}

.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  z-index: 200;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}

.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.select-list {
  margin-bottom: 1.5rem;
}

.switch-button {
  background: rgba(255, 123, 0, 0.4);
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  position: relative;
  padding-right: 50%;
  position: relative;
  margin-bottom: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 5px, rgba(0, 0, 0, 0.24) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 5px, rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.switch-button:before {
  content: "輸入自訂保險保障方案";
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.switch-button-checkbox:checked {
  color: white;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.switch-button-checkbox:checked + .switch-button-label:before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: white;
}

.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #4c8091;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  border: 3px solid #4c8091;
}

.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

#myChart {
  width: 100%;
  justify-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */